body {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  background-color: #fff7da !important;
}
.navbox {
  background-color: #18525d;
}
nav {
  background-color: #18525d;
}
.main_nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  list-style-type: none;
  text-decoration: none;
  align-items: center;
}
.menu-item {
  list-style-type: none;
  text-decoration: none;
  color: #fff7da;
}
.menu {
  display: flex;
  align-items: center;
}
nav ul li {
  padding-right: 80px;
}
.navborder {
  height: 2px;
  width: 100%;
  background-color: #fff7da;
  position: absolute;
  top: 100px;
}
.logo {
  padding-top: 5px;
}
.hero {
  background: url(/Images/Hero\ no\ text.png);
  background-size: contain;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 500px;
  font-family: "Raleway";
}
.hero_message {
  color: white;
  padding-top: 200px;
  padding-left: 75px;
}
.lead {
  color: white;
  padding-left: 75px;
}
.btnColor {
  background-color: #a21d0b !important;
  border-color: #a21d0b !important;
  font-size: 16px !important;
}
.herobutton {
  padding-left: 75px;
}
.signoutbutton {
  display: flex;
  align-items: center;
  max-width: 50%;
  height: auto;
}

.searchsection {
  background-color: #fff7da;
}
.searchbutton {
  background-color: #18525d !important;
  color: white !important;
  font-size: 12px !important;
  position: absolute;
  right: 5%;
}
.searchinputs {
  width: 50% !important;
  margin-left: 25%;
  padding-top: 20px;
  padding-bottom: 6px;
}
.companysearchbar {
  border-radius: 50px 0 0 50px !important;
}

.success_stories {
  margin-bottom: 0;
}

.success-story-header {
  font-size: 30px;
  margin-left: 40px;
  padding-bottom: 10px;
}

.success_story_images {
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  width: 100vw;
}
.left_image {
  background-image: url(/Images/starbucks\ .png);
  background-repeat: no-repeat;
  height: 330px;
  width: 500px;
  position: relative;
}
.right_image {
  background-image: url(/Images/patagonia.jpeg);
  background-repeat: no-repeat;
  height: 330px;
  width: 500px;
  position: relative;
}

.right_image_textbox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  opacity: 75%;
  height: 75px;
  padding: 10px;
}

.left_image_textbox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: white;
  opacity: 75%;
  height: 75px;
  padding: 10px;
}

.tea-scores {
  margin-left: 40px;
  margin-bottom: 200px;
}

.tea-scores > h1 {
  font-size: 30px;
}

.tea-score-container > ul > li {
  padding-right: 10px;
}

.tea-score-list {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  text-decoration: none;
}
